<h1>My Gister list</h1>

<div id="my-gists">
    <% #@gists.each do |gist| %>
		
    <% #end %>
    
    <%= render @gists %>
</div>
<div id="infinite-scrolling">
	<%= will_paginate %>
</div>
		
<br>
